.App {
  text-align: center;
  width: 1000px;
  margin: 0 auto;
}

.image-container {
  display: flex;
  flex-flow: row wrap;
}

.gifs {
  width: 23%;
  margin: .5%;
  height: 200px;
}

.singleGif-container {
  display: flex;
  width: 900px;
  margin: 5% auto;
}

.username-container {
  padding-right: 5%;
}

.title-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

/* .fa-ellipsis-h {
  margin-left: -1%;
} */

.dropdown {
  display: flex;
  /* position: absolute; */
  padding-top: 1%;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-evenly;
  z-index: 1;
  opacity: .9;
  margin-bottom: -25%;
  background-color: black;
  color: #b2b2b2;
  font-size: .8em
}

.dropdown p {
  width: 45%;
}

.single-gif-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}
